.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
  }
  img {
    width: 20%;
    height: 20%;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
  }

  a {
    svg {
      position: relative;
      top: 50px;

      color: white;
      border-radius: 10px;
      width: 40px;
      height: 40px;
    }
  }
}

#enlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
  li {
    display: inline;

    width: 100%;
    margin: 20px;
  }
  a {
    position: relative;
    bottom: 30px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 8px gray;

    width: 100%;
    padding: 3px;

    &:hover {
      background-color: lightgray;
      color: black;
    }
  }
}

.buscador {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
